.dark-light-button {
    cursor: pointer;
}

.dark-light-tooltiptext {
    visibility: hidden;
    text-align: right;
    position: absolute;
    color: white;
    bottom: 100%;
    right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    background: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 5px;
}

.dark-light-switcher i.fas:hover .dark-light-tooltiptext {
    visibility: visible;
}

.dark-light-switcher {
    margin-right: 27px;
}