/* Animations */
@keyframes doing-animation {
    from { background-color: var(--doing-color1); }
    to { background-color: var(--doing-color2); }
}

/* Main table */
.schedule-table {
    border-collapse: collapse;
}

/* Rows & Columns */
.dotw {
    text-align: center;
    border-bottom: 1px solid var(--dotw-seperator);
    padding: 4px 0;
}

.subject-td, .empty-subject-td {
    padding: auto;
    font-size: 22px;
    text-align: center;
}
.subject-td {
    cursor: pointer;
    transition: 0.1s;
}
.subject-td:hover {
    background: rgba(128, 128, 128, 0.2);
}

.subject-td.empty-subject {
    transition: none;
}
.subject-td.empty-subject:hover {
    background: transparent;
}

/* Subject highlights */
.done-subject { 
    background-color: var(--complete-color);
}
.done-subject:hover { 
    background-color: var(--complete-color-hover) !important;
}

.doing-subject { 
    animation-duration: 1.2s;
    animation-name: doing-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.selected-subject {
    font-weight: 900;
}


@media screen and (min-width: 1100px) {
    .schedule-table {
        float: right;
        margin-right: 40px;
    }
    .subject-td {
        width: 100px;
        height: 80px;
    }
}


@media screen and (max-width: 1099px) {
    .subject-td {
        width: 100px;
        height: 40px;
    }
}