@media screen and (min-width: 1100px) {
    .table-wrapper {
        height: 100%;
        grid-column: 1 / 4;
        border-right: 1px solid gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (max-width: 1099px) {
    .table-wrapper {
        width: 100%;
        display: flex;
        border-bottom: 1px solid gray;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }
}